.calculadora {
  width: 300px;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0 auto;
}

.calculadora td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.calculadora span {
  font-size: 20px;
  font-weight: bold;
}

.calculadora button {
  width: 50px;
  height: 50px;
  font-size: 18px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: hsl(350 72% 80% / 1);
  border-radius: 0.6em;
}

.calculadora button:hover {
  background-color: #e6e6e6;
}

.calculadora {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: hsl(182 87% 85% / 1);
  margin: 0 auto;
}

.calculadora td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.calculadora span {
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: sans-serif;
}

.calculadora button {
  width: 50px;
  height: 50px;
  font-size: 18px;
  background-color: pink;
  border: 1px solid #ccc;
  cursor: pointer;
}

.calculadora button:hover {
  background-color: #e6e6e6;
}

table.calculadora {
  border: none;
  border-collapse: collapse;
}

table.calculadora td {
  border: none;
}

tbody {
  padding: 01em 0em 2em;
  display: grid;
  justify-content: space-around;
}

table.calculadora td {
  padding: 0.1em;
  /* position: relative; */
}

table.calculadora {
  width: 16.5em;
}

.calculadora #resultado {
  background: hsl(186 30% 56% / 1);
  display: block;
  height: 50px;
  z-index: 9999;
  width: 193px;
  margin-bottom: 0.1em;
  color: hsl(174 32% 96% / 1);
  text-align: right;
  vertical-align: bottom;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0.1em 0.3em;
  font-size: 1.7em;
  font-weight: 400;
  border-radius: 0.3em;
}
